<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Words &amp; Images - Code Challenge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="container d-flex flex-wrap">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                        <span class="fs-4">Content Viewer - Images and words!</span>
                    </a>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3">
                <div class="container d-flex flex-wrap justify-content-center">
                    <form class="col-12 " method="post" action="@Url.Action("Results", "Results")">
                        <input type="text" class="form-control form-control-dark" name="urlRequest" id="UrlText" placeholder="Insert a valid URL" aria-label="Search">
                        <div class="text-end">
                            <button type="submit" class="btn btn-outline-light me-2" @*id="searchCall"*@ value="Search in URL">Search in URL</button>
                            <button type="submit" formaction="@Url.Action("Index", "Home")" class="btn btn-warning">Clear All</button>
                        </div>
                    </form>
                </div>

            </div>
        </header>

        <div class="container">
            <h3>Sites tested</h3>
            <p> https://www.google.com/intl/es-419/photos/about/ </p>
            <p> https://symposium.sitecore.com/ </p>
            <p> https://wall.alphacoders.com/ </p>
        </div>
        @RenderBody()
        <hr />
        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/Scripts/search-ajax.js"></script>
</body>
</html>
